[build]
  base = "sohar-digital-twin"
  command = "npm install && npm run build"
  publish = "sohar-digital-twin/dist"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

